<li class='country-list__item'>
  <div class='country-list__wrapper'>
    <img src='{{flag}}' alt='Flag of {{name}}' class='country-list__flag country-list__flag--max' />
    <p class='country-list__name country-list__name--max'>{{name}}</p>
  </div>
</li>