<p class='country-list__capital'>Capital: {{capital}}</p>
<p class='country-list__population'>Population: {{population}}</p>
<p class='country-list__languages'>Languages:
  {{#each languages}}
    <span>{{this.name}}</span>
  {{/each}}
</p>